node-red/flows.json
[{"id":"79c92c4e.6b1294","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1a3fa5b.ba86b","type":"mqtt in","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/key_event","topic":"python-evdev2mqtt/key_event","qos":"2","datatype":"json","broker":"a77da6a9.b3dfe8","x":190,"y":160,"wires":[["f874ea7e.725598"]]},{"id":"f874ea7e.725598","type":"debug","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/key_event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":160,"wires":[]},{"id":"a47130ab.cc2da","type":"mqtt in","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/iistening_to_device","topic":"python-evdev2mqtt/iistening_to_device","qos":"2","datatype":"json","broker":"a77da6a9.b3dfe8","x":210,"y":100,"wires":[["af0557c1.cd9088"]]},{"id":"af0557c1.cd9088","type":"debug","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/key_event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":100,"wires":[]},{"id":"5c5b2d6e.d23534","type":"mqtt in","z":"79c92c4e.6b1294","name":"all mqtt messages","topic":"#","qos":"2","datatype":"auto","broker":"a77da6a9.b3dfe8","x":230,"y":260,"wires":[["c1efa48.6178e58"]]},{"id":"c1efa48.6178e58","type":"debug","z":"79c92c4e.6b1294","name":"mqtt messages","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":260,"wires":[]},{"id":"c5a3aac4.ddb6c8","type":"mqtt out","z":"79c92c4e.6b1294","name":"","topic":"test/mqtt","qos":"","retain":"","broker":"a77da6a9.b3dfe8","x":400,"y":320,"wires":[]},{"id":"263b0be6.3ede34","type":"inject","z":"79c92c4e.6b1294","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["c5a3aac4.ddb6c8"]]},{"id":"33c1deed.d246d2","type":"comment","z":"79c92c4e.6b1294","name":"Test python-evdev2mqtt service","info":"","x":150,"y":40,"wires":[]},{"id":"84b663ec.4fef3","type":"comment","z":"79c92c4e.6b1294","name":"Test node-red-contrib-usbhid nodes","info":"The below nodes can be used to test the 2 node-red-contrib-usbhid nodes.\n","x":160,"y":400,"wires":[]},{"id":"177a0001.ba483","type":"getHIDdevices","z":"79c92c4e.6b1294","name":"","x":400,"y":480,"wires":[["e0969652.0289b8"]]},{"id":"10ef27c2.e5e038","type":"inject","z":"79c92c4e.6b1294","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":190,"y":480,"wires":[["177a0001.ba483"]]},{"id":"e0969652.0289b8","type":"debug","z":"79c92c4e.6b1294","name":"HIDdevices","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":480,"wires":[]},{"id":"5c903af0.f85254","type":"HIDdevice","z":"79c92c4e.6b1294","connection":"24ab526f.40e7ee","name":"","x":370,"y":620,"wires":[["31b1f83c.1f2028"],["6a19e39d.df5fac"]]},{"id":"31b1f83c.1f2028","type":"debug","z":"79c92c4e.6b1294","name":"HIDdevice data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":580,"wires":[]},{"id":"6a19e39d.df5fac","type":"debug","z":"79c92c4e.6b1294","name":"HIDdevice error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":640,"wires":[]},{"id":"855853bd.7c2a9","type":"comment","z":"79c92c4e.6b1294","name":"Update the configuration of the below HIDdevice node !!!","info":"So you must set the `VID` and the `PID` to respectively the `vendorID` and \nthe `productID` of one of the devices returned by the above node \n(= `getHIDdevices` node)","x":430,"y":540,"wires":[]},{"id":"a77da6a9.b3dfe8","type":"mqtt-broker","z":"","name":"(local) mqtt service","broker":"mqtt","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"24ab526f.40e7ee","type":"HIDConfig","z":"","vid":"5050","pid":"1","name":""}]