node-red/flows.json
[{"id":"79c92c4e.6b1294","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1a3fa5b.ba86b","type":"mqtt in","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/key_event","topic":"python-evdev2mqtt/key_event","qos":"2","datatype":"json","broker":"a77da6a9.b3dfe8","x":190,"y":160,"wires":[["f874ea7e.725598"]]},{"id":"f874ea7e.725598","type":"debug","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/key_event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":160,"wires":[]},{"id":"a47130ab.cc2da","type":"mqtt in","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/iistening_to_device","topic":"python-evdev2mqtt/iistening_to_device","qos":"2","datatype":"json","broker":"a77da6a9.b3dfe8","x":210,"y":100,"wires":[["af0557c1.cd9088"]]},{"id":"af0557c1.cd9088","type":"debug","z":"79c92c4e.6b1294","name":"python-evdev2mqtt/key_event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":100,"wires":[]},{"id":"5c5b2d6e.d23534","type":"mqtt in","z":"79c92c4e.6b1294","name":"all mqtt events","topic":"#","qos":"2","datatype":"auto","broker":"a77da6a9.b3dfe8","x":220,"y":260,"wires":[["c1efa48.6178e58"]]},{"id":"c1efa48.6178e58","type":"debug","z":"79c92c4e.6b1294","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":260,"wires":[]},{"id":"c5a3aac4.ddb6c8","type":"mqtt out","z":"79c92c4e.6b1294","name":"","topic":"test/mqtt","qos":"","retain":"","broker":"a77da6a9.b3dfe8","x":400,"y":320,"wires":[]},{"id":"263b0be6.3ede34","type":"inject","z":"79c92c4e.6b1294","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["c5a3aac4.ddb6c8"]]},{"id":"33c1deed.d246d2","type":"comment","z":"79c92c4e.6b1294","name":"Test python-evdev2mqtt service","info":"","x":150,"y":40,"wires":[]},{"id":"84b663ec.4fef3","type":"comment","z":"79c92c4e.6b1294","name":"Test node-red-contrib-usbhid nodes","info":"","x":160,"y":400,"wires":[]},{"id":"a77da6a9.b3dfe8","type":"mqtt-broker","z":"","name":"(local) mqtt service","broker":"mqtt","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]